<!DOCTYPE html>
<html>
  <head>
    <title>Project Exponent</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in?() %>
        <nav id="header-nav">
          <h1 id="nav-title">Lindsay Ockenfels</h1>
          <ul id="nav-ul">
            <li><a href="/about">About Lindsay</a></li>
            <li><a href=<%= short_stories_path %>>Short Stories</a></li>
            <li><a href=<%= poems_path %>>Poems</a></li>
            <li><a href=<%= songs_path %>>Songs</a></li>
            <li><a href=<%= posts_path %>>Blog Posts</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href=<%= new_upload_path %> class="btn btn-lg" id="media-upload">+</a></li>
          </ul>
          <% @admin = current_admin() %>
          <%= button_to "logout", {:controller => :sessions,
              :action => 'destroy', :id => @admin.id }, :method => :delete %>
        </nav>
      <% else %>
        <nav id="header-nav">
          <h1 id="nav-title">Lindsay Ockenfels</h1>
          <ul id="nav-ul">
            <li><a href="/about">About Lindsay</a></li>
            <li><a href=<%= short_stories_path %>>Short Stories</a></li>
            <li><a href=<%= poems_path %>>Poems</a></li>
            <li><a href=<%= songs_path %>>Songs</a></li>
            <li><a href=<%= posts_path %>>Blog Posts</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
