<!DOCTYPE html>
<html>
  <head>
    <title>Lindsay Ockenfels</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap 4 Stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <% if logged_in?() %>
        <!-- Auth navbar -->
        <nav id="auth-nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a href="/" class="navbar-brand"><h2 id="nav-name">Lindsay Ockenfels</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Navbar content -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="nav-ul" class="navbar-nav mr-auto">
              <li class="nav-item btn btn-dark"><a href="/about">About Lindsay</a></li>
              
              <li class="nav-item btn btn-dark"><a href=<%= poems_path %>>Poems</a></li>
              <li class="nav-item btn btn-dark"><a href=<%= posts_path %>>Blog Posts</a></li>
              <li class="nav-item btn btn-dark"><a href=<%= short_stories_path %>>Short Stories</a></li>
              <li class="nav-item btn btn-dark"><a href=<%= songs_path %>>Songs</a></li>
              
              <li class="nav-item btn btn-dark"><a href="/contact">Contact</a></li>

              <!-- Navbar content add dropdown -->
              <li class="nav-item dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  +
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href=<%= new_poem_path %>>New Poem</a>
                  <a class="dropdown-item" href=<%= new_post_path %>>New Post</a>
                  <a class="dropdown-item" href=<%= new_short_story_path %>>New Short Story</a>
                  <a class="dropdown-item" href=<%= new_song_path %>>New Song</a>
                </div>
              </li>

              <!-- Navbar admin logout -->
              <%= button_to "logout", logout_path, {class: "nav-item btn btn-danger", method: :delete} %>
            </ul>       
          </div>
        </nav>


      <% else %>
        <!-- Unauth navbar -->
         <nav id="auth-nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a href="/" class="navbar-brand"><h2 id="nav-name">Lindsay Ockenfels</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Navbar content -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="nav-ul" class="navbar-nav mr-auto">
              <li class="nav-item btn btn-dark"><a href="/about">About Lindsay</a></li>

              <li class="nav-item btn btn-dark"><a href=<%= poems_path %>>Poems</a></li>
              <li class="nav-item btn btn-dark"><a href=<%= posts_path %>>Blog Posts</a></li>
              <li class="nav-item btn btn-dark"><a href=<%= short_stories_path %>>Short Stories</a></li>
              <li class="nav-item btn btn-dark"><a href=<%= songs_path %>>Songs</a></li>
              
              <li class="nav-item btn btn-dark"><a href="/contact">Contact</a></li>

              <!-- Admin login button -->
              <%= button_to "login", {:controller => :sessions, :action => "new"}, {:class => "nav-item btn btn-success", :method => :get } %>
            </ul>
          </div>
        </nav>
      <% end %>
    </header>

    <!-- Page specific content -->
    <div class="container-fluid" id="yield-field">
      <%= yield %>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
